### Problem: Find percentage of users attended a context

Table: Users

| Column Name | Type    |
|-------------|---------|
| user_id     | int     |
| user_name   | varchar |

user_id is the primary key (column with unique values) for this table.
Each row of this table contains the name and the id of a user.
 

Table: Register

| Column Name | Type    |
|-------------|---------|
| contest_id  | int     |
| user_id     | int     |

(contest_id, user_id) is the primary key (combination of columns with unique values) for this table.
Each row of this table contains the id of a user and the contest they registered into.
 

Write a solution to find the percentage of the users registered in each contest rounded to two decimals.

Return the result table ordered by percentage in descending order. In case of a tie, order it by contest_id in ascending order.

The result format is in the following example.

 

#### Example 1:

Input: 
Users table:

| user_id | user_name |
|---------|-----------|
| 6       | Alice     |
| 2       | Bob       |
| 7       | Alex      |

Register table:

| contest_id | user_id |
|------------|---------|
| 215        | 6       |
| 209        | 2       |
| 208        | 2       |
| 210        | 6       |
| 208        | 6       |
| 209        | 7       |
| 209        | 6       |
| 215        | 7       |
| 208        | 7       |
| 210        | 2       |
| 207        | 2       |
| 210        | 7       |

Output: 

| contest_id | percentage |
|------------|------------|
| 208        | 100.0      |
| 209        | 100.0      |
| 210        | 100.0      |
| 215        | 66.67      |
| 207        | 33.33      |

Explanation: 
All the users registered in contests 208, 209, and 210. The percentage is 100% and we sort them in the answer table by contest_id in ascending order.
Alice and Alex registered in contest 215 and the percentage is ((2/3) * 100) = 66.67%
Bob registered in contest 207 and the percentage is ((1/3) * 100) = 33.33%

In [1]:
import pandas as pd

In [2]:
data = [[6, 'Alice'], [2, 'Bob'], [7, 'Alex']]
users = pd.DataFrame(data, columns=['user_id', 'user_name']).astype({'user_id':'Int64', 'user_name':'object'})
data = [[215, 6], [209, 2], [208, 2], [210, 6], [208, 6], [209, 7], [209, 6], [215, 7], [208, 7], [210, 2], [207, 2], [210, 7]]
register = pd.DataFrame(data, columns=['contest_id', 'user_id']).astype({'contest_id':'Int64', 'user_id':'Int64'})

In [3]:
participats = register['user_id'].nunique()
participats

3

In [ ]:
contest_users_count = (
    register.groupby('contest_id')['user_id']
    .nunique()
)
contest_users_count

contest_id
207    1
208    3
209    3
210    3
215    2
Name: user_id, dtype: int64

In [10]:
percentage = (contest_users_count / participats) * 100
percentage

contest_id
207     33.333333
208    100.000000
209    100.000000
210    100.000000
215     66.666667
Name: user_id, dtype: float64

In [12]:
result = pd.DataFrame({'contest_id': percentage.index, 'percentage': percentage.values}).round(2)
result

   contest_id  percentage
0         207       33.33
1         208      100.00
2         209      100.00
3         210      100.00
4         215       66.67

In [33]:
def users_percentage(users: pd.DataFrame, register: pd.DataFrame) -> pd.DataFrame:
    participats = users['user_id'].nunique()
    contest_users_count = register.groupby('contest_id')['user_id'].nunique()
    percentage = (contest_users_count / participats) * 100
    result = pd.DataFrame({'contest_id': percentage.index, 'percentage': percentage.values})
    result['percentage'] = result['percentage'].round(2)
    result = result.sort_values(by=['percentage', 'contest_id'], ascending=[False, True])
    return result

In [32]:
users_percentage(users, register)

   contest_id  percentage
1         208      100.00
2         209      100.00
3         210      100.00
4         215       66.67
0         207       33.33