### Problem: Triangle Judgement

Table: Triangle

| Column Name | Type |
|-------------|------|
| x           | int  |
| y           | int  |
| z           | int  |

In SQL, (x, y, z) is the primary key column for this table.
Each row of this table contains the lengths of three line segments.
 

Report for every three line segments whether they can form a triangle.

Return the result table in any order.

The result format is in the following example.

### Example 1:

Input: 
Triangle table:

| x  | y  | z  |
|----|----|----|
| 13 | 15 | 30 |
| 10 | 20 | 15 |

Output: 

| x  | y  | z  | triangle |
|----|----|----|----------|
| 13 | 15 | 30 | No       |
| 10 | 20 | 15 | Yes      |

In [3]:
import pandas as pd
import numpy as np

In [11]:
data = [[13, 15, 30], [10, 20, 15]]
triangle = pd.DataFrame(data, columns=['x', 'y', 'z']).astype({'x':'Int64', 'y':'Int64', 'z':'Int64'})
triangle

    x   y   z
0  13  15  30
1  10  20  15

In [9]:
def triangle_judgement(triangle: pd.DataFrame) -> pd.DataFrame:
    return triangle.assign(triangle=lambda df: np.where(df.eval('x + y > z and x + z > y and y + z > x'), 'Yes', 'No'))

In [7]:
def triangle_judgement(triangle: pd.DataFrame) -> pd.DataFrame:
    def is_valid_triangle(row):
        x, y, z = row['x'], row['y'], row['z']
        return 'Yes' if x + y > z and x + z > y and y + z > x else 'No'
    triangle['triangle'] = triangle.apply(is_valid_triangle, axis=1)
    return triangle

In [12]:
def triangle_judgement(triangle: pd.DataFrame) -> pd.DataFrame:
    triangle['triangle'] = (triangle.x + triangle.y + triangle.z > 2 * triangle.max(axis=1)).map({True: 'Yes', False: 'No'})
    return triangle

In [13]:
triangle_judgement(triangle)

    x   y   z triangle
0  13  15  30       No
1  10  20  15      Yes