# Problem: Write a solution to swap the seat id of every two consecutive students.

#### Table: Seat

| Column Name | Type    |
|-------------|---------|
| id          | int     |
| student     | varchar |

id is the primary key (unique value) column for this table.  
Each row of this table indicates the name and the ID of a student.  
The ID sequence always starts from 1 and increments continuously.

### Task 

**Write a solution to swap the seat id of every two consecutive students. If the number of students is odd, the id of the last student is not swapped.**

**Return the result table ordered by `id` in ascending order.**

**The result format is in the following example.**

 

### Example 1:

### Input: 

#### Seat table:

| id | student |
|----|---------|
| 1  | Abbot   |
| 2  | Doris   |
| 3  | Emerson |
| 4  | Green   |
| 5  | Jeames  |

### Output: 

| id | student |
|----|---------|
| 1  | Doris   |
| 2  | Abbot   |
| 3  | Green   |
| 4  | Emerson |
| 5  | Jeames  |

### Explanation: 

Note that if the number of students is odd, there is no need to change the last one's seat.

In [11]:
import sqlite3
import pandas as pd

In [2]:
# Connect to a database (or create it if not exists)
connection = sqlite3.connect('example.db')

In [3]:
# Create a cursor object
cursor = connection.cursor()

In [4]:
# Create a table
cursor.execute('Create table If Not Exists Seat (id int, student varchar(255))')

In [9]:
# Delete all existing rows
cursor.execute('DELETE FROM Seat')

# Create data
data_to_insert = [
    ('1', 'Abbot'),
    ('2', 'Doris'),
    ('3', 'Emerson'),
    ('4', 'Green'),
    ('5', 'Jeames'),
]

# Insert data
cursor.executemany('''
insert into Seat (id, student)
values (?, ?)
''', data_to_insert)

# Commit changes
connection.commit()

In [ ]:
# Query
query = '''
SELECT id,
    CASE
        WHEN id % 2 = 0 THEN LAG(student) OVER (ORDER BY id)
        ELSE IFNULL(LEAD(student) OVER (ORDER BY id), student)
    END AS student
FROM Seat
'''

In [21]:
# Query data
df = pd.read_sql_query(query, connection)

# Display the result as a query
df

   id  student
0   1    Doris
1   2    Abbot
2   3    Green
3   4  Emerson
4   5   Jeames

In [24]:
# Close the connection
connection.close()